<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kGoogleMapKey</key>
	<string></string>
	<key>kFourSquareClientId</key>
	<string>EJ0MKPFKX4PEWC1CYICMQRNS2XPCB0BOYWV4BF1RDMV0OASU</string>
	<key>kFourSquareClientSecret</key>
	<string>TT0U2HE1RBQEWLAVKYXLYXZ1HJWXAXLFXL2E0ZHN1JZ4A1KR</string>
</dict>
</plist>
